<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></HTML>
<head>
    <Title> CREATE Department </Title>
    <br>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #19415e;
        }
.card{
background-color: #26a9be ;
}
.card-header{
background-color:lightgray;
}
    </style>
    <img src="D:\MANAGE DEPARTMENT/Cozentus Logo.png" alt="Cozentus-Logo" />
</head>

<body>
    <form action="/" th:action="@{/}" th:object="${}" method="post" name="myform" novalidate>
        <div class="container d-flex justify-content-center">
            <div class="row  d-flex justify-content-center">
                <div class="col-9  d-flex justify-content-center">
                    <div class="card" style="width: 65rem;">



                        <div class="card-header">

                            <h1 class="card-title d-flex justify-content-center">CREATE DEPARTMENT</h1>

                        </div>

                        <div class="card-body justify-content-center">
                            <div class='main'>
                                <div>
                                    <h1></h1>
                                    <br>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-5 col-form-label">Department code
                                </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="code"
                                        placeholder="Enter your dept code" name="name"
                                        th:field="*{Department Code}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-sm-5 col-form-label">Parent Department Code
                                </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="parent dept code"
                                        placeholder="Enter your dept code" name="DepartmentName"
                                        th:field="*{Department Name}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-5 col-form-label">Department Name
                                </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="name"
                                        placeholder="Enter your parent dept code" name="ParentDepartmentCode"
                                        th:field="*{Parent DC}" >
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="accessdepartments" class="col-sm-3 col-form-label">Is Department Active</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Is Department Active
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" input type="checkbox" href="#">Yes</a>
                                        <a class="dropdown-item" input type="checkbox" href="#">No</a>
                                    </div>
                                </div>

                               
                              <div>
                                <br>
                                <button id="btn-submit" class="btn btn-success" type="submit"
                                    value="Login" onsubmit=" return validate()">SAVE</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-danger" id="btn-submit" type="reset"
                                    value="Cancel">CANCEL</button>
                            <br>
    </form>

    <script>
		function validate() {
			var name = document.myform.name.value;
			var deptname = document.myform.DepartmentName.value;
            var parentdeptcode = documen.myform.ParentDepartmentCode.value;

			if (name == null || name == "") {
				alert("Please Enter the Dept Code");
				return false;
			} else if (deptname.length < 8) {
				alert("Name must be at least 8 characters long.");
				return false;
			}else if(parentdeptcode == ""){
                alert("Please enter the parent dept code");
                return false;
            }

		}
	</script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>